@media (prefers-color-scheme: light) {
  :root {
    --text: #0c0c0d;
    --background: #e5e4e7;
    --primary: #676a62;
    --secondary: #efeff0;
    --accent: #8a8e85;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f2f2f3;
    --background: #19181b;
    --primary: #9a9d95;
    --secondary: #0f0f10;
    --accent: #767a71;
  }
}
