---
import TypeWriter from "../components/TypeWriter.astro";
import WorkExperience from "../components/WorkExperience.astro";
---

<main class="dark:bg-stone-900 dark:text-stone-300">
  <TypeWriter />
  <WorkExperience />

  <div>
    <h3>Skills</h3>
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>React</li>
      <li>Angular</li>
      <li>Node.js</li>
      <li>HTMl</li>
      <li>CSS</li>
    </ul>
  </div>
  <div>
    <h3>Projects</h3>
    <ul>
      <li>Project 1</li>
      <li>Project 2</li>
      <li>Project 3</li>
    </ul>
  </div>
  <div>
    <h3>Education</h3>
    <ul>
      <li>RV College of Engineering</li>
      <li>Shri Vasantrao Potdar Polytechnic</li>
      <li>M.V.Herwadkar School</li>
    </ul>
  </div>
</main>
