---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import TwitterIIcon from "./icons/TwitterIIcon.astro";
---

<div id="contact" class="group pb-72 pt-5">
  <div class="mx-auto w-3/5 overflow-hidden rounded-lg bg-sky-700">
    <article class="">
      <h2 class="round bg-sky-500 p-3 text-center text-2xl">Contact me</h2>
      <div class="flex justify-evenly p-3">
        <a
          class="pointer-events-auto pl-2 text-white
          underline
          decoration-wavy
          transition-colors duration-300 ease-in-out hover:text-blue-200"
          href="https://www.linkedin.com/in/omkar-garde-a2a8a5191/"
        >
          <LinkedInIcon />
           LinkedIn
        </a>
        <a
          class="pointer-events-auto pl-2 text-white
          underline
          decoration-wavy
          transition-colors duration-300 ease-in-out hover:text-blue-200"
          href="https://twitter.com/omkargarde6"
        >
          <TwitterIIcon />
           Twitter/X
        </a>
        <a
          class="pointer-events-auto pl-2 text-white
          underline
          decoration-wavy
          transition-colors duration-300 ease-in-out hover:text-blue-200"
          href="https://github.com/omkargarde"
        >
          <GithubIcon />
           Github
        </a>
      </div>
    </article>
  </div>
</div>
