<div id="education" class="group pb-36 pt-5">
  <div class="mx-auto w-3/5 overflow-hidden rounded-lg bg-emerald-700">
    <article>
      <h2 class="round bg-emerald-500 p-3 text-center text-2xl">Education</h2>
      <ul class="p-3">
        <li class="flex">
          <div class="w-9/12">
            <div class="text-lg">RV College of Engineering</div>
            <div>Bachelor of Engineering in Information Science</div>
          </div>
          <div class="pl-14">
            <div>Bangalore,India</div>
            <div>Aug 2017 - May 2020</div>
          </div>
        </li>
        <li class="flex pt-3">
          <div class="w-9/12">
            <div class="text-lg">Shri Vasantrao Potdar Polytechnic</div>
            <div>Diploma in Computer Science</div>
          </div>
          <div class="pl-14">
            <div>Belgaum,India</div>
            <div>Aug 2014 - June 2017</div>
          </div>
        </li>
        <li class="flex pt-3">
          <div class="w-9/12">
            <div class="text-lg">M.V.Herwadkar School</div>
          </div>
          <div class="pl-14">
            <div>Belgaum,India</div>
            <div>2004 - 2014</div>
          </div>
        </li>
      </ul>
    </article>
  </div>
</div>
