<div>
  <h1
    class="bg-gradient-to-r from-blue-200 to-cyan-200 bg-clip-text text-center text-xl uppercase text-transparent"
  >
    Hi, i am Omkar Garde
  </h1>
  <p
    class="bg-gradient-to-r from-orange-400 to-cyan-300 bg-clip-text p-4 pt-2 text-center text- text-transparent"
  >
    front-end developer with experience in build reponsive and user friendly web
    applications
  </p>
</div>
