<article id="greeting" class="pb-64 pt-72">
  <h1 class="text-center text-4xl text-transparent dark:text-stone-300">
    Hi, i am <span
      class="bg-gradient-to-r from-blue-200 to-cyan-200 bg-clip-text text-transparent"
    >
      Omkar Garde</span
    >
  </h1>
  <p class="pt-8 text-center text-3xl">Frontend Developer</p>
</article>
