<div class="pt-5">
  <div class="mx-auto w-3/5 overflow-hidden rounded-lg bg-teal-500">
    <article class="">
      <h2 class="round bg-teal-700 p-3 text-center text-2xl">Projects</h2>
      <ul class="p-3">
        <li>
          
        </li>
        <li>Project 2</li>
        <li>Project 3</li>
      </ul>
    </article>
  </div>
</div>
