---
import AngularIcon from "./icons/AngularIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import RedirectIcon from "./icons/RedirectIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
---

<div id="projects" class="pb-36 pt-5">
  <div class="mx-auto w-3/5 overflow-hidden rounded-lg bg-teal-700">
    <article class="">
      <h2 class="round bg-teal-500 p-3 text-center text-2xl">Projects</h2>
      <ul class="p-3">
        <li>
          <div class="flex">
            <a href="https://www.typescriptlang.org/" class="pr-3">
              <TypeScriptIcon />
            </a>
            <a href="https://angular.io/" class="pr-3">
              <AngularIcon />
            </a>
            <h3 class="pointer-events-none align-middle text-lg text-white">
              AngularAdminUI
            </h3>
          </div>
          <div class="flex pt-1">
            <p class="leading text-md text-normal w-11/12">
              Developed the Angular admin UI project to provide a dynamic and
              interactive user interface for managing user roles. Utilized
              Angular framework to create a seamless user experience, resulting
              in improved efficiency and ease of use for administrators.
            </p>
            <a href="https://angular-admin-ui.vercel.app/" class="pl-3 pt-1">
              <RedirectIcon />
            </a>
            <a
              href="https://github.com/omkargarde/angularAdminUI"
              class="pl-3 pt-1"
            >
              <GithubIcon />
            </a>
          </div>
        </li>
        <li class="pt-5">
          <div class="flex">
            <a href="https://developer.mozilla.org/en-US/docs/Web/javascript">
              <JavaScriptIcon />
            </a>
            <a href="https://react.dev/" class="pr-3">
              <ReactIcon />
            </a>
            <h3 class="pointer-events-none align-middle text-lg text-white">
              Events management using NextJS
            </h3>
          </div>
          <div class="flex pt-1">
            <p class="w-11/12">
              Developed events management using NextJS, React, and CSS modules.
              Streamlined event creation and management by implementing features
              such as event registration, resulting in improved efficiency and
              user satisfaction. Enhanced user experience by incorporating
              responsive design principles and optimizing page load times for
              seamless navigation and faster performance.
            </p>
            <a href="https://next-js-event-chi.vercel.app/" class="pl-3 pt-1">
              <RedirectIcon />
            </a>
            <a
              href="https://github.com/omkargarde/nextJSEvent"
              class="pl-3 pt-1"
            >
              <GithubIcon />
            </a>
          </div>
        </li>
      </ul>
    </article>
  </div>
</div>
