---
import AngularIcon from "./icons/AngularIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NodeJsIcon from "./icons/NodeJsIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
---

<div id="skills" class="group pb-36 pt-5">
  <div class="mx-auto w-3/5 overflow-hidden rounded-lg bg-violet-700">
    <article class="">
      <h2 class="round bg-violet-500 p-3 text-center text-2xl">Skills</h2>
      <div class="flex justify-evenly p-3">
        <a href="https://www.typescriptlang.org/">
          <TypeScriptIcon />
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/javascript">
          <JavaScriptIcon />
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
          <HtmlIcon />
        </a>
        <a
          href="https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/What_is_CSS"
        >
          <CssIcon />
        </a>
        <a href="https://nodejs.dev/en/learn/">
          <NodeJsIcon />
        </a>
        <a href="https://react.dev/">
          <ReactIcon />
        </a>
        <a href="https://angular.io/">
          <AngularIcon />
        </a>
      </div>
    </article>
  </div>
</div>
