---
import AngularIcon from "./icons/AngularIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NodeJsIcon from "./icons/NodeJsIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
---

<div class="group pt-5">
  <div class="mx-auto w-3/5 overflow-hidden rounded-lg bg-violet-700">
    <article class="">
      <h2 class="round bg-violet-500 p-3 text-center text-2xl">Skills</h2>
      <div class="flex justify-evenly p-3">
        <span class="">
          <JavaScriptIcon />
          <span class="pointer-events-none pl-2 text-white">TypeScript</span>
        </span>
        <span class="">
          <JavaScriptIcon />
          <span class="pointer-events-none pl-2 text-white">JavaScript</span>
        </span>
        <span class="">
          <HtmlIcon />
          <span class="pointer-events-none text-white">HTML5</span>
        </span>
        <span class="">
          <CssIcon />
          <span class="pointer-events-none text-white">CSS3</span>
        </span>
        <span class="">
          <NodeJsIcon />
          <span class="pointer-events-none pl-1 text-white">NodeJS</span>
        </span>
        <span class="">
          <ReactIcon />
          <span class="pointer-events-none mr-0 pl-2 text-white">React</span>
        </span>
        <span class="">
          <AngularIcon />
          <span class="pointer-events-none mr-0 pl-2 text-white">Angular</span>
        </span>
      </div>
    </article>
  </div>
</div>
