@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap{
    animation: caret 1s steps(1) infinite;
    border-right: 0.08em solid #fff;
   padding-right: 1px;
 }
 @keyframes caret {
   50% {
     border-color: transparent;
   }
 }